
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=Pharmacie_Garde
PORT=3000
JWT_SECRET=changez_moi_en_production

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PUBLIC_APP_URL=http://localhost:3000

GOOGLE_OAUTH_RELAX_TLS=1


DEV_RESET_LINK=1
